<div class="module form-module">
  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
    <div class="tooltip">Click Me</div>
  </div>
  <div class="form">
    <h2>Create an account</h2>
    <form action="/user/create" method="POST">
      <input type="text" name='name' placeholder="Username"/>
      <input type="password" name='encryptedPassword' placeholder="Password"/>
      <input type="email" name='email' placeholder="Email Address"/>
      <input type="tel" name='phone' placeholder="Phone Number"/>
      <button>Register</button>
    </form>
  </div>
</div>